{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h1>Manage Equipment Maintenance</h1>
    Equipment Count: {{ equipment_list|length }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipment_list %}
            <tr>
                <td>{{ equipment.id }}</td>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.description }}</td>
                <td>{{ equipment.status }}</td>
                <td>
                    <a href="{{ url_for('main.edit_equipment', id=equipment.id) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
</div>
{% endblock %}